{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/classrooms/classroom-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>All Classrooms</h1>
  <!-- <img src="{% static 'images/classroom.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/classroom.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/classroom.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/classroom.svg' %}" alt="A cat in a box" /> -->
</section>

<section class="card-container">
  {% for classroom in classrooms %}
  <div class="card">
    <a href="/classrooms/{{classroom.id}}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/classroom.svg' %}" alt="A classroom />
        </div>
        <h2 class="card-title">{{ classroom.name }}</h2>
        <p><small>{{ classroom.description }}</small></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
