{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/classrooms/classroom-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>All Classrooms</h1>

  <!-- <img src="{% static 'images/classroom.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/classroom.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/classroom.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/classroom.svg' %}" alt="A cat in a box" /> -->
</section>
{% if classrooms %}

<section class="card-container">
  {% for classroom in classrooms %}
  <div class="card">
    <!-- <a href="/classrooms/{{classroom.id}}"> -->
    <a href="{% url 'classroom-detail' classroom.classroom_id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/classroom.svg' %}" alt="A classroom " />
        </div>
        <h2 class="card-title">Division:{{ classroom.division}}</h2>
        <h3>Grade: {{ classroom.grade }}</h3>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% else %}
<p style="text-align: center; font-size: 18px; color: #555; margin-top: 20px">
  No classrooms have been added yet.
</p>
{% endif %} {% endblock %}
