{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/students/student-detail.css' %}" />

{% endblock %} {% block content %}
<section class="student-container">
  <div class="student-img">
    <img src="{% static 'images/studentid.jpg' %}" alt="A student" />
  </div>
  <div class="student-details">
    <h1>{{ student.name }}</h1>
    <h1>{{ student.id}}</h1>

    <p>{{ student.grade }}</p>
    <div class="student-actions">
      <a href="{% url 'student-update' student_id %}" class="btn warn">Edit</a>
      <a href="{% url 'student-delete' student_id %}" class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
{% endblock %}
