{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/students/student_detail.css' %}" />

{% endblock %} {% block content %}
<section class="student-container">
  <div class="student-details">
    <div class="student-img">
      <img src="{% static 'images/studentid.jpg' %}" alt="A student" />
    </div>
    <h2>Student Details</h2>

    <p>student ID: {{ student.student_id }}</p>

    <h2>Name: {{ student.name}}</h2>
    <h2>Grade: {{ student.grade }}</h2>
    <h2>Classroom: {{ student.classroom }}</h2>
    <p><strong>Division:</strong> {{ student.division }}</p>

    <p><strong>Students Level:</strong> {{ student.student_level }}</p>
    <p><strong>Activity Level: </strong>{{ student.activity_level }}</p>
    <p><strong>Learning Style:</strong> {{ student.learning_style }}</p>
    <p>
      <strong>Multiple_intelligence:</strong> {{ student.multiple_intelligence}}
    </p>
    <p><strong>Special_needs:</strong> {{ student.special_needs }}</p>
    <p><strong>Parent_info:</strong> {{ student.parent_info }}</p>
    <div class="student-actions">
      <a href="{% url 'student-update' student.student_id %}" class="btn warn"
        >Edit</a
      >
      <a
        a
        href="{% url 'student-delete' student.student_id %}"
        class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
{% endblock %}
