{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/students/student-detail.css' %}" />

{% endblock %} {% block content %}
<section class="student-container">
  <div class="student-img">
    <img src="{% static 'images/studentid.jpg' %}" alt="A student" />
  </div>
  <div class="student-details">
    <h2>Student Details</h2>

    <p>student ID: {{ student.student_id }}</p>

    <h2>Name: {{ student.name}}</h2>
    <h2>Grade: {{ student.grade }}</h2>
    <h2>Division: {{ student.division }}</h2>

    <p>Students Level: {{ student.students_level }}</p>
    <p>Activity Level: {{ student.activity_level }}</p>
    <p>Learning Style: {{ student.learning_style }}</p>
    <p>Multiple_intelligence: {{ student.multiple_intelligence }}</p>
    <p>Special_needs: {{ student.special_needs }}</p>
    <p>Parent_info: {{ student.parent_info }}</p>
    <p>Feedback: {{ student.feedback }}</p>
    <div class="student-actions">
      <a href="{% url 'student-update' student.student_id %}" class="btn warn"
        >Edit</a
      >
      <a
        a
        href="{% url 'student-delete' student.student_id %}"
        class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
{% endblock %}
