{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/lessonplans/lessonplan-detail.css' %}"
/>
{% endblock %} {% block content %}
<section class="lessonplan-container">
  <div class="lessonplan-img">
    <img src="{% static 'images/lessonplan.svg' %}" alt="A lessonplan" />
  </div>
  <div class="lessonplan-details">
    <h1>{{ lessonplan.title }}</h1>
    <h1>{{ lessonplan.subject_id}}</h1>

    <div class="lessonplan-actions">
      <a href="{% url 'lessonplan-update' plan_id %}" class="btn warn">Edit</a>
      <a href="{% url 'lessonplan-delete' plan_id %}" class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
{% endblock %}
