{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/lessonplans/lessonplan-detail.css' %}"
/>
{% endblock %} {% block content %}
<section class="lessonplan-container">
  <div class="lessonplan-img">
    <img src="{% static 'images/lessonp.jpeg' %}" alt="A lessonplan" />
  </div>
  <div class="lessonplan-details">
    <h1>Lesson Plan Details</h1>

    <p><strong>lessonplan ID:</strong> {{ lessonplan.plan_id }}</p>

    <h2><strong>User:</strong> {{ lessonplan.user }}</h2>
    <h2><strong>Lesson Title:</strong> {{ lessonplan.title }}</h2>
    <h2><strong>Subject:</strong> {{ lessonplan.subject_id }}</h2>
    <h2><strong>Classroom:</strong> {{ lessonplan.classroom }}</h2>
    <p><strong>Grade Level:</strong> {{ lessonplan.grade_level }}</p>
    <p><strong>Division:</strong> {{ lessonplan.division }}</p>
    <p><strong>Duration:</strong> {{ lessonplan.duration }}</p>
    <p><strong>Date:</strong> {{ lessonplan.date }}</p>
    <p><strong>Lesson Objectives:</strong> {{ lessonplan.objectives }}</p>
    <p><strong>Integration:</strong>{{ lessonplan.integration}}</p>
    <p><strong>Description:</strong> {{ lessonplan.description }}</p>
    <p>
      <strong>Teaching Strategy:</strong> {{ lessonplan.teaching_strategy }}
    </p>
    <p><strong>Activity Level:</strong> {{ lessonplan.activity_level }}</p>
    <p><strong>Activities: </strong>{{ lessonplan.activities }}</p>
    <p><strong>Assessment:</strong> {{ lessonplan.assessment }}</p>
    <p><strong>Technology Used:</strong> {{ lessonplan.technology_used }}</p>
    <p><strong>Plan B: </strong>{{ lessonplan.plan_b }}</p>
    <div class="lessonplan-actions">
      <a
        href="{% url 'lessonplan-update' lessonplan.plan_id %}"
        class="btn warn"
        >Edit</a
      >
      <a
        href="{% url 'lessonplan-delete' lessonplan.plan_id %}"
        class="btn danger"
        >Delete</a
      >
    </div>
  </div>
</section>
{% endblock %}
